<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
      {{ page.title | escape }}
      {% if page.title %}::{% endif %}
      {{ site.title }}
    </title>
    <meta name=author content="Why the Lucky Stiff">
    <meta name=creator content="Mislav Marohnić">
    {% if page.description %}<meta name=description content="{{ page.description | escape }}">{% endif %}
    <link rel="stylesheet" type="text/css" href="{% if page.stylesheet %}{{ page.stylesheet }}{% else %}../guide.css{% endif %}">
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>
<body class="{{ page.type }}">

{{ content }}

{% include tracking_code.html %}
</body>
</html>
