---
layout: book
---
<div id="banner">
   <div class="pager">
     <a class="pagebar" href="{% if page.previous %}{{ page.previous.url | remove_first:"/book/" }}{% else %}../{% endif %}">previous</a> |
     <a class="pagebar" href="{% if page.next %}{{ page.next.url | remove_first:"/book/" }}{% else %}./{% endif %}">next</a>
   </div>
   <div class="title">
     <img src="../images/2006.chaptertitle.png" alt="{{ site.title }}" />
   </div>
</div>

<div id="container">
  <div class="page">
    <div class="pageLinks">
      <a class="pagebar" href="./">Contents</a>
    </div>
    <div class="pageTitle">
      <h3>{{ page.date | date: "%-d" }}.</h3>
      <h1>{{ page.title }}</h1>
      <p>{% unless page.title ==  "When You Wish Upon a Beard" %}
        <img src="../images/chapter.poignant.guide-{{ page.date | date: "%-d" }}.jpg" alt="">
      {% endunless %}</p>
    </div>

    <div class="content">
      {{ content }}

      <p style="text-align:right;">
      <a href="{% if page.next %}{{ page.next.url | remove_first:"/book/" }}{% else %}./{% endif %}">Turn page.</a>
      </p>
    </div>
  </div>
</div>
