---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>why’s (poignant) guide to ruby</title>
    <link rel="stylesheet" type="text/css" href="../guide.css">
</head>
<body>

<div id="wrapper">

  <div id="sidepane">
    <div id="bookplate"><a href="chapter-1.html"><img src="../images/2006.cover.jpg" alt="why's (poignant) guide to ruby" /></a></div>
    <div id="bookseal"><a href="chapter-1.html"><img src="../images/2006.seal.jpg" alt="Open the book" /></a></div>
    <div id="bookcontents">
      <h3>~ Contents ~</h3>
      <ol class=toc>
        {% for chapter in site.posts reversed %}
        <li>
          <a href="{{ chapter.url | split:"/" | last }}">{{ chapter.title | escape }}</a>
          {% if chapter.sections %}
          <ol>{% for section in chapter.sections %}
            <li><a href="{{ chapter.url | split:"/" | last }}#{{ section.first }}">{{ section.last | escape }}</a></li>
          {% endfor %}</ol>
          {% endif %}
        </li>
        {% endfor %}
      </ol>
      <h4>+ Expansion Paks +</h4>
      <ol class=toc>
        <li><a href="expansion-pak-1.html">The Tiger's Vest (with a Basic Introduction to Irb)</a></li>
      </ol>

      <h4>+ See Also +</h4>
      <ol class=toc>
        <li><a href="../dwemthy/">Dwemthy's Array</a>: the official site for the <i>(Poignant) Guide</i>'s own MINI_ADVENTURE.</li>
        <li><a href="http://preeventualist.org/">The Pre-eventualist</a></li>
      </ol>
    </div>
    <div id="main">
    	<div class="foxbox">
            <div class="foxbox_head">
                <h3>Lost foxes in <a href="chapter-6.html">Chapter 6. Downtown.</a>  Such juicy metaprogramming and class design!</h3>
            </div>
            <div class="foxbox_body">
                <p><b>T-Shirts</b>: <a href="http://www.cafeshops.com/blixytees.10117492">"Addiction is Like Pokemon..."</a>, <a href="http://www.cafeshops.com/blixytees.10116504">"Chunky. Bacon."</a>, and <a href="http://www.cafeshops.com/blixytees">others</a>.</p>
                <p><br></p>
            </div>
        </div>

        <!-- Page Content discussing Ruby, the book, and my site -->

            <br />
            
            <h2>Read This Paragraph</h2>
            <p>At my local Barnes and Noble, there is a huge wall of Java books just waiting to tip over and crush me one day.  And one day it will.  At the rate things are going, one day that bookcase will be tall enough to crush us all.  It might even loop the world several times, crushing previous editions of the same Java books over and over again.</p>
            
            <h2>And This Paragraph Too</h2>
            <p>This is just a small Ruby book.  It won&#8217;t crush you.  It&#8217;s light as a feather (because I haven&#8217;t finished it yet&#8212;hehe).  And there&#8217;s a reason this book will stay light: because Ruby is simple to learn.</p>
            
            <h2>But Don't Read This One!</h2>
            <p><em>Why&#8217;s (Poignant) Guide to Ruby</em> is released under the  <a href="http://creativecommons.org/licenses/by-sa/2.5/">Attribution-ShareAlike</a> License.  So, yes, please distribute it and print it and read it leisurely in your housecoat.  In fact, there will be a contest at the end of the book for Best Housecoat.  It&#8217;s a coveted award and you should feel honored to even read about it!  (Especially if you are reading about it in your soon-to-be-prize-winning housecoat.)</p>
            
            <h2>Now Back to Your Regularly Scheduled Paragraph</h2>
            <p>I&#8217;ll try not to feel utterly rejected if this book doesn&#8217;t capture your fancy.  I might experience a few long days of emptiness, accompanied with profuse weeping, but other than that I&#8217;ll be fine.  It&#8217;s at least comforting to know that the following fine texts cover my topic and will doubtless fill you with Ruby lust:</p>


	<ul>
	<li><a href="http://pine.fm/LearnToProgram/">Learning to Program</a>
	<ul>
	<li>A very basic, ground-level tutorial for the beginner to Ruby.  By Chris Pine.</li>
	</ul>
	</li>
		<li><a href="http://pragprog.com/book/ruby3/programming-ruby-1-9">Programming Ruby</a>
	<ul>
	<li>The original tome and complete reference for Ruby.  By Dave Thomas and Andy Hunt (also known as <em>The Pickaxe</em>)</li>
	</ul>
	</li>
		<li><a href="http://www.rubyist.net/~slagell/ruby/">Ruby User&#8217;s Guide</a>
	<ul>
	<li>A guide to learning Ruby (with code examples).  By Matz, the creator of Ruby.  Translated into English.</li>
	</ul>
	</li>
		<li><a href="http://www.ruby-lang.org/">Ruby-Lang.org</a>
	<ul>
	<li>The official home page for the Ruby language.</li>
	</ul></li>
	</ul>


	<p>Now, if you can&#8217;t seem to find the contents link on the left-hand side of the page, then here&#8217;s a link to the <a href="chapter-1.html">first page</a> of the (Poignant) Guide.</p>


	<p>Welcome to the pirate radio of technical manuals.</p>
            

            <div class="bulletin">

                <!-- Creative Commons License -->
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/"><img alt="Creative Commons License" src="http://creativecommons.org/images/public/somerights20.gif" /></a><br />
                This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/">Creative Commons License</a>.
                <!-- /Creative Commons License -->


                <!--

                <rdf:RDF xmlns="http://web.resource.org/cc/"
                    xmlns:dc="http://purl.org/dc/elements/1.1/"
                    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                <Work rdf:about="">
                   <dc:type rdf:resource="http://purl.org/dc/dcmitype/Text" />
                   <license rdf:resource="http://creativecommons.org/licenses/by-sa/2.5/" />
                </Work>

                <License rdf:about="http://creativecommons.org/licenses/by-sa/2.5/">
                   <permits rdf:resource="http://web.resource.org/cc/Reproduction" />
                   <permits rdf:resource="http://web.resource.org/cc/Distribution" />
                   <requires rdf:resource="http://web.resource.org/cc/Notice" />
                   <requires rdf:resource="http://web.resource.org/cc/Attribution" />
                   <permits rdf:resource="http://web.resource.org/cc/DerivativeWorks" />
                   <requires rdf:resource="http://web.resource.org/cc/ShareAlike" />
                </License>

                </rdf:RDF>

                -->

            </div>

    </div>

</div>

</body>
</html>
