---
layout: book
---
<div id="wrapper">

  <div id="sidepane">
    <div id="bookplate"><a href="chapter-1.html"><img src="../images/2006.cover.jpg" alt="why's (poignant) guide to ruby" /></a></div>
    <div id="bookseal"><a href="chapter-1.html"><img src="../images/2006.seal.jpg" alt="Open the book" /></a></div>
    <div id="bookcontents">
      <h3>~ Contents ~</h3>
      <ol class=toc>
        {% for chapter in site.posts reversed %}
        <li>
          <a href="{{ chapter.url | remove_first:"/book/" }}">{{ chapter.title | escape }}</a>
          {% if chapter.sections %}
          <ol>{% for section in chapter.sections %}
            <li><a href="{{ chapter.url | remove_first:"/book/" }}#{{ section.first }}">{{ section.last | escape }}</a></li>
          {% endfor %}</ol>
          {% endif %}
        </li>
        {% endfor %}
      </ol>
      <h4>+ Expansion Paks +</h4>
      <ol class=toc>
        <li><a href="expansion-pak-1.html">The Tiger's Vest (with a Basic Introduction to Irb)</a></li>
      </ol>

      <h4>+ See Also +</h4>
      <ol class=toc>
        <li><a href="../dwemthy/">Dwemthy's Array</a>: the official site for the <i>(Poignant) Guide</i>'s own MINI_ADVENTURE.</li>
      </ol>
    </div>
  </div>

  <div id="main">
    <div class="foxbox">
      <div class="foxbox_head">
        <h3>Lost foxes in <a href="chapter-6.html">Chapter 6. Downtown.</a>
          Such juicy metaprogramming and class design!</h3>
      </div>

      <div class="foxbox_body">
        <p><b>T-Shirts</b>:
          <a href="http://www.cafeshops.com/blixytees.10117492">"Addiction is Like Pokemon..."</a>,
          <a href="http://www.cafeshops.com/blixytees.10116504">"Chunky. Bacon."</a>, and
          <a href="http://www.cafeshops.com/blixytees">others</a>.
        </p>
        <p><br></p>
      </div>
    </div>

    <!-- Page Content discussing Ruby, the book, and my site -->

    <br />

{% capture intro %}
## Read This Paragraph

At my local Barnes and Noble, there is a huge wall of Java books just waiting to
tip over and crush me one day. And one day it will. At the rate things are
going, one day that bookcase will be tall enough to crush us all. It might even
loop the world several times, crushing previous editions of the same Java books
over and over again.

## And This Paragraph Too

This is just a small Ruby book. It won’t crush you. It’s light as a feather
(because I haven’t finished it yet—hehe). And there’s a reason this book will
stay light: because Ruby is simple to learn.

## But Don't Read This One!

_Why’s (Poignant) Guide to Ruby_ is released under the
[Attribution-ShareAlike][1] License. So, yes, please distribute it and print it
and read it leisurely in your housecoat. In fact, there will be a contest at the
end of the book for Best Housecoat. It’s a coveted award and you should feel
honored to even read about it! (Especially if you are reading about it in your
soon-to-be-prize-winning housecoat.)

## Now Back to Your Regularly Scheduled Paragraph

I’ll try not to feel utterly rejected if this book doesn’t capture your fancy. I
might experience a few long days of emptiness, accompanied with profuse weeping,
but other than that I’ll be fine. It’s at least comforting to know that the
following fine texts cover my topic and will doubtless fill you with Ruby lust:

*   [Learning to Program][2]

    * A very basic, ground-level tutorial for the beginner to Ruby. By Chris Pine.

*   [Programming Ruby][3]

    * The original tome and complete reference for Ruby. By Dave Thomas and Andy Hunt (also known as _The Pickaxe_)

*   [Ruby User’s Guide][4]

    * A guide to learning Ruby (with code examples). By Matz, the creator of Ruby. Translated into English.

*   [Ruby-Lang.org][5]

    * The official home page for the Ruby language.

Now, if you can’t seem to find the contents link on the left-hand side of the page, then here’s a link to the [first page][6] of the (Poignant) Guide.

Welcome to the pirate radio of technical manuals.


[1]: http://creativecommons.org/licenses/by-sa/2.5/
[2]: http://pine.fm/LearnToProgram/
[3]: http://pragprog.com/book/ruby3/programming-ruby-1-9
[4]: http://www.rubyist.net/~slagell/ruby/
[5]: http://www.ruby-lang.org/
[6]: chapter-1.html
{% endcapture %}
{{ intro | markdownify }}

            <div class="bulletin">

                <!-- Creative Commons License -->
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/"><img alt="Creative Commons License" src="http://creativecommons.org/images/public/somerights20.gif" /></a><br />
                This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/">Creative Commons License</a>.
                <!-- /Creative Commons License -->


                <!--

                <rdf:RDF xmlns="http://web.resource.org/cc/"
                    xmlns:dc="http://purl.org/dc/elements/1.1/"
                    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                <Work rdf:about="">
                   <dc:type rdf:resource="http://purl.org/dc/dcmitype/Text" />
                   <license rdf:resource="http://creativecommons.org/licenses/by-sa/2.5/" />
                </Work>

                <License rdf:about="http://creativecommons.org/licenses/by-sa/2.5/">
                   <permits rdf:resource="http://web.resource.org/cc/Reproduction" />
                   <permits rdf:resource="http://web.resource.org/cc/Distribution" />
                   <requires rdf:resource="http://web.resource.org/cc/Notice" />
                   <requires rdf:resource="http://web.resource.org/cc/Attribution" />
                   <permits rdf:resource="http://web.resource.org/cc/DerivativeWorks" />
                   <requires rdf:resource="http://web.resource.org/cc/ShareAlike" />
                </License>

                </rdf:RDF>

                -->

            </div>

    </div>

</div>
